:root {
    --dark: #111111;
    --dark2: #181818;
    --dark3: #1e1e1e;
    --light: #fcfcfc;
    --light2: #7c7c7c;
    --primary-color:#a2101b;
    --secondary-color: #f83a3a;
    --gradient--color: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    --gradient--dark: linear-gradient(60deg, var(--dark) 30%, var(--dark3) 100%);
    --gradient--light: linear-gradient(135deg, var(--light), var(--light2));
    --header-height: 120px;
    --font-size: 1.7rem;
}
/* principal styles */
.inactive {
    display: none !important;
}
.bg__1 {
    background-color: var(--dark);
}
.bg__2 {
    background-color: var(--dark2);
}
.bg__3 {
    background-color: var(--dark);
}
.center {
    margin: 0 auto;
    padding-inline: 16px;
    width: 100%;
    /* margin: 1100px; */
}
.button {
    background: var(--primary-color);
    background: var(--gradient--color);
    color: var(--light);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 180px;
    height: 50px;
    padding: 8px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    color: var(--light2);
}
h1, h2, h3 {
    font-weight: 900;
}
p {
    line-height: calc(var(--font-size) * 1.3);
}
/* mobile menu */
.mobileMenu {
    position: fixed;
    height: 100vh;
    width: 75%;
    max-width: 300px;
    padding: 36px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    background-color: var(--primary-color);
}
.mobileMenu .closeMenu {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    &:hover {
        background-color: var(--dark3);
    }
}
.mobileMenu .closeMenu svg {
    margin: auto;
    fill: var(--light);
    width: 24px;
    height: 24px;
}
.mobileMenu .header__nav.in--mobile { /* .in--mobile, tambien solo asi  */
    flex-direction: column;
    width: 100%;
    gap: 48px;
}
/* switch theme buttons */
.switchTheme__box {
    width: 60px;
    height: 60px;
}
.switchTheme__box.in--mobile {
    margin-right: auto;
}
.switchTheme__icon {
    fill: var(--light);
}
/* header */
.header {
    width: 100%;
    height: var(--header-height);
    margin-bottom: calc(var(--header-height) * (-1));
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.header .header__logo {
    width: 80px;
}
.header__nav {
    display: flex;
}
.header__nav.in--desktop {
    flex-direction: row;
}
.header__nav__item {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    &:hover {
        color: var(--dark3);
    }
}
.header__menuIcon svg {
    fill: var(--light);
    &:hover {
        fill: var(--primary-color);
    }
}
/*? MAIN: SECTIONS*/
/* about */
.about {
    padding-top: var(--header-height);
    background: var(--dark);
    background: var(--gradient--dark)
}
.about .center {
    background-color: var(--gradient--dark);
    display: flex;
    flex-direction: column-reverse;
    gap: 36px;
}
.about__info h2 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 3rem;
    color: var(--primary-color);
}
.about__info h1 {
    margin-bottom: 16px;
    font-size: 4rem;
    color: var(--light);
}
.about__info p {
    margin-bottom: 24px;
    /* line-height: 2rem */
}
