:root {
    --dark: #111111;
    --dark2: #181818;
    --dark3: #1e1e1e;
    --light: #fcfcfc;
    --light2: #eaeaea;
    --light3: #dddddd;
    --text-color: #7c7c7c;
    --primary-color:#a2101b;
    --secondary-color: #f83a3a;
    --gradient--color: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    --gradient--dark: linear-gradient(90deg, var(--dark) 40%, var(--dark2) 100%);
    --gradient--light: linear-gradient(90deg, var(--light) 40%, var(--light2) 100%);
    --header-height: 54px;
    --font-size: 1.7rem;
}
/* Animations */
@keyframes showMenu {
    to {
        left: 0px;
    }
}
@keyframes hideMenu {
    0% {
        left: 0px;
    }
}
@keyframes rotate-icon {
    to {
        transform: rotate(360deg);
    }
}
@keyframes ajust-header {
    to {
        background-color: var(--dark);
    }
}
/* principal styles */
.inactive {
    display: none !important;
}
.brightness {
    filter: brightness(.5);
}
.bg__1 {
    background-color: var(--dark);
}
.bg__2 {
    background-color: var(--dark2);
}
.bg__3 {
    background-color: var(--dark3);
}
.z__1 {
    z-index: 1;
}
.z__2 {
    z-index: 2;
}
.z__3 {
    z-index: 3;
}
.center {
    margin: 0 auto;
    padding-inline: 16px;
    width: 100%;
    max-width: 1200px;
}
.button {
    background: var(--primary-color);
    background: var(--gradient--color);
    color: var(--light);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 180px;
    height: 50px;
    padding: 8px;
    &:hover {
        border-radius: 16px;
        & a {
            background-color: transparent;
        }
    }
    &:active {
        transform: scale(.9);
    }
    transition: all .4s;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    color: var(--text-color);
}
h1, h2, h3 {
    font-weight: 900;
}
p {
    line-height: calc(var(--font-size) * 1.3);
}
/* mobile menu */
.mobileMenu {
    position: fixed;
    bottom: 0;
    height: 100dvh;
    width: 70vw;
    padding: 48px 36px;
    padding-top: calc(var(--header-height) * 2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark3);
    left: calc(0px - 70vw);
}
.header__iconsBox {
    position: fixed;
    top: 16px;
    right: 16px;
}
.header__closeMenu, .header__menuIcon {
    width: 50px;
    height: 50px;
    background-color: var(--light3);
    border-radius: 50%;
    animation: rotate-icon linear both ;
    animation-duration: .3s;
}
.header__menuIcon svg {
    margin: auto;
    fill: var(--dark3);
    width: 24px;
    height: 24px;
}
.header__menuIcon--open svg {
    width: 36px;
    height: 36px;
}
.mobileMenu .header__nav.in--mobile {
    flex-direction: column;
    width: 100%;
    gap: 48px;
}
/* switch theme buttons */
.switchTheme__box {
    width: 30px;
    height: 30px;
}
.switchTheme__box.in--mobile {
    margin-right: auto;
}
.switchTheme__box.in--desktop {
    display: none;
}
.switchTheme__icon {
    height: auto;
    fill: var(--light);
    cursor: pointer;
}
/* header */
.header {
    display: none;
}
.header__logo__mobile{
    width: 100%;
    max-width: 250px;
}
.header__logo__desktop {
    display: none;
}
.header__nav {
    display: flex;
}
.header__nav.in--desktop {
    display: none;
}
.header__nav__item {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    &:hover {
        color: var(--secondary-color);
    }
}
/*? MAIN: SECTIONS*/
/* about */
.about {
    padding-top: var(--header-height);
    background: var(--dark);
    background: var(--gradient--dark)
}
.about .center {
    margin-top: 72px;
    background-color: var(--gradient--dark);
    display: flex;
    flex-direction: column-reverse;
    gap: 36px;
}
.about__image {
    min-width: 300px;
    margin: 0 auto;
}
.about__image img {
    margin-top: -100px;
    height: 500px;
    object-position: top;
}
.about__info {
    max-width: 500px;
}
.about__info h2 {
    margin-bottom: 8px;
    font-size: 3rem;
    color: var(--primary-color);
}
.about__info h1 {
    margin-bottom: 16px;
    font-size: 4rem;
    color: var(--light);
}
.about__info p {
    margin-bottom: 24px;
    /* line-height: 2rem */
}
/* Skills */
.skills {
    position: relative;
    padding-block: 72px;
    padding-top: calc(var(--header-height) * 2);
}
.skills__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.skills__background div{
    width: 50%;
    height: 100%;
}
.skills .center{
    position: relative;
}
.skills__roles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            290px,
            1fr
        )
    );
    gap: 24px;
}
.skills__roles__item {
    width: 100%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.skills__roles__item:hover {
    background: var(--gradient--dark);
    color: var(--light);
    transition: all .6s;
}
.skills__roles__item h2 {
    font-size: 3rem;
    color: var(--light);
}
.skills__roles__item figure {
    width: 100%;
    /* height: 200px; */
}
.skills__experience {
    margin-block: 48px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            130px,
            1fr
        )
    );
    gap: 24px;
}
.skills__experience__item {
    padding: 16px;
    display: grid;
    place-content: center;
    text-align: center;
}
.skills__experience__item span {
    font-size: 3rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.skills__experience__item p {
    margin-top: 16px;
    font-weight: 600;
}
.skills__experience__item.__years {
    grid-column: 1/3;
}
.skills__experience__item.__years span {
    font-size: 8rem;
    font-weight: 900;
}
.skills__experience__item.__years h2 {
    color: var(--light);
}
h2.skills__techs {
    margin-bottom: 24px;
    font-size: 3rem;
    text-align: center;
    color: var(--light);
}
.skills__techs {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            130px,
            1fr
        )
    );
    gap: 24px;
}
.skills__techs__item {
    padding: 16px;
    display: grid;
    place-content: center;
    text-align: center;
}
.skills__techs__item figure svg {
    margin-bottom: 16px;
    fill: var(--secondary-color);
    width: 80px;
    height: 80px;
}
.skills__techs__item:hover {
    background: var(--gradient--dark);
    color: var(--light);
    & svg{
        fill: var(--light);
        transition: all .6s;
    }
}
/* Projects */
.projects {
    padding-top: calc(var(--header-height) * 2);
    margin-bottom: -200px;
}
.projects__info {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.projects__info__text h2 {
    margin-bottom: 8px;
    font-size: 2.4rem;
    color: var(--light);
}
.projects__box {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            280px,
            1fr
        )
    );
    gap: 24px;
}
.projects__item__image {
    padding: 54px 16px;
    height: 280px;
}
.projects__item__image img {
    height: 100%;
}
.projects__item__image figcaption {
    margin-top: 16px;
    font-size: 2rem;
    color: var(--light);
}
.projects__item__links {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    color: var(--secondary-color);
}
.projects__item__links a:hover {
    color: var(--text-color);
}
.contact {
    height: 800px;
    padding: 0 16px;
    margin-bottom: -300px;
}
.contact > div {
    padding-top: 300px;
}
.contact__box {
    position: relative;
    max-width: 800px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.contact__text h3 {
    margin-bottom: 8px;
    font-size: 4rem;
    color: var(--light);
}
/* FOOTER */
.footer__1 {
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: end;
}
.footer__2 .footer__list__logo {
    width: 100%;
    max-width: 300px;
    height: 50px;
}
.footer__2 .footer__list__logo img {
    height: 100%;
}
.footer__2 .footer__list {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
}
.footer__list__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.footer__list__social a {
    padding: 8px;
}
.footer__list__social a:hover {
    color: var(--light);
    background-color: var(--dark);
    border-radius: 50%;
    transform: scale(1.1);
    transition: all .5s;
}