.header__nav.in--desktop {
    display: flex;
    gap: 24px;
}
.header__nav__item {
    font-size: 1.8rem;
    &:hover {
        color: var(--light2);
    }
}
.switchTheme__box.in--desktop {
    display: block;
}
.header__iconsBox {
    display: none;
}
.about .center {
    flex-direction: row;
    align-items: end;
}
.about__image {
    max-height: 300px;
}
.about__info {
    margin-bottom: 48px;
}
.skills__roles__item:last-child {
    grid-column: 1/3;
    flex-direction: row;
    height: auto;
}
.skills__experience {
    grid-template-columns: repeat(4,1fr);
}
.skills__experience__item.__years {
    grid-row: 1/3;
}
.skills__techs {
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            190px,
            1fr
        )
    );
}
.contact {
    margin-bottom: -400px;
}
.footer__1 {
    height: 300px;
}
.footer__nav {
    display: none;
}
@media screen and (min-width: 1000px) {
    .skills__roles__item:last-child {
        grid-column: auto;
        flex-direction: column;
        height: auto;
    }
    .skills__roles__item figure {
        height: 240px;
    }
    .skills__techs {
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                220px,
                1fr
            )
        );
    }
}
@media screen and (min-width: 1200px) {
    .header {
        justify-content: center;
        gap: 330px;
    }
}