header {
    height: 70px;
    padding: 5px 24px;
}
.logo {
    font-size: 4rem;
}
#options .nav--desktop {
    display: flex;
    align-items: stretch;
    gap: 10px;
}
#options .nav--mobile {
    display: none;
}
#options nav ul li {
    font-size: 2rem;
}
.icon-menu {
    display: none;
}
.in-img {
    display: none;
}
main {
    margin-top: 70px;
}
#Bio {
    margin: 0 auto;
    max-width: 1024px;
}
#Bio .info {
    padding-right: 30px;
}
.info .no-img {
    display: flex;
}
.info .title {
    margin-top: 18px;
    font-size: 4.2rem;
}
.info .detail {
    margin: 26px 0;
    font-size: 2.6rem;
}
.info .detail p:first-child {
    margin-bottom: 10px;
}
#Projects h2 {
    margin-bottom: 32px;
}
#Projects .projects-container {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#Projects .projects-container article {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 320px;
}
.skills--container article {
    width: 90%;
    max-width: 1000px;
}
footer .message-container .logo {
    font-size: 6rem;
    margin-bottom: 8px;
}
footer .message-container .message {
    font-size: 2rem;
}
footer .social-media {
    flex-direction: row;
    gap: 30px;
}
footer .social-media a {
    margin-left: 0;
}
footer .social-media .social-item {
    padding-left: 20px;
    font-size: 3rem;
}
footer .social-media a {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .social-media a:hover{
    border-radius: 50%;
    background-color: var(--light-red);
    transition: all .3s;
}
footer .social-media svg{
    width: 50px;
    height: 50px;
    fill: white;
}
.black-theme {
    transition: all .3s;
}
.switch-theme {
    transition: all .3s;
}
