@keyframes rotate-icon {
    to {
        transform: rotate(360deg);
    }
}
@keyframes ajust-header {
    to {
        background-blend-mode: color-burn;
        background: rgba(17, 17, 17, 0.9);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(20px);
    }
}
@keyframes ajust-header-light {
    to {
        background-blend-mode: color-burn;
        background: rgba(252, 252, 252, 0.9);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(20px);
    }
}
@keyframes expand {
    0% {
        transform: scale(.2) translate(0, 2px);
    }
    50% {
        transform: scale(.7) translate(0, -2px);
    }
    100% {
        transform: scale(1) translate(0);
    }
}
@keyframes socialIcon {
    0% {transform: scale(.1) translateX(48px);}
    0%, 25% {transform: scale(.3) translateX(30px);}
    25%, 50% {transform: scale(1) translateX(0px);}
    50%, 75% {transform: scale(.5) translateX(-32px);}
    75%, 100% {transform: scale(1) translateX(0);}
}
@keyframes shake-left-right{
    0%,100%{transform:rotate(0deg);transform-origin:50% 50%}
    10%{transform:rotate(8deg)}
    20%,40%,60%{transform:rotate(-10deg)}
    30%,50%,70%{transform:rotate(10deg)}
    80%{transform:rotate(-8deg)}
    90%{transform:rotate(8deg)}
}
@keyframes jello-horizontal{
    0%{transform:scale3d(1,1,1)}
    30%{transform:scale3d(1.15,.95,1)}
    40%{transform:scale3d(.85,1.05,1)}
    50%{transform:scale3d(1.15,.85,1)}
    65%{transform:scale3d(.95,1.05,1)}
    75%{transform:scale3d(1.05,.95,1)}
    100%{transform:scale3d(1,1,1)}
}

@keyframes bounce-bottom {
    0% {
        transform: translateY(24px) scale(0.1);
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        transform: translateY(16px) scale(0.2);
        animation-timing-function: ease-in
    }

    65% {
        transform: translateY(12px) scale(0.4);
        animation-timing-function: ease-in
    }

    82% {
        transform: translateY(6px) scale(0.6);
        animation-timing-function: ease-in
    }

    93% {
        transform: translateY(4px) scale(0.8);
        animation-timing-function: ease-in
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translateY(0) scale(1);
        animation-timing-function: ease-out;
        opacity: 1
    }
}